<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
		<div class="container">
		  <h1 class="display-3">Trackeamento de O&G</h1>
		  <p>A transparência da blockchain é crucial para permitir que os consumidores saibam que estão apoiando empresas que compartilham os mesmos valores de administração socioambiental e fabricação sustentável.</p>
		  <p><a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais »</a></p>
		</div>
</div>
<div class="container">
		<!-- Example row of columns -->
		<div class="row">
		  <div class="col-md-4">
			<h2>Carteira</h2>
			<span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
			<p>Controle o estoque e movimentação de derivados de petróleo, gás natural e biocombustíveis. </p>
			<p><a class="btn btn-link" href="#" role="button">Detalhes »</a></p>
		  </div>
		  <div class="col-md-4">
			<h2>API</h2>
			<p>Construa aplicações para monitoramento e operacionalização, pesquise transações em blockchain, acesso a dados em tempo real e muito mais. </p>
			<p><a class="btn btn-link" href="#" role="button">Detalhes »</a></p>
		  </div>
		  <div class="col-md-4">
			<h2>Gráficos</h2>
			<p>Visualizar gráficos da blockchain para dados históricos sobre transações confirmadas, não confirmadas, variações e muito mais.</p>
			<p><a class="btn btn-link" href="#" role="button">Detalhes »</a></p>
		  </div>
		</div>
	
		<hr>
	
	  </div>
{% endblock %}
